################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App4/App4/bin/Debug/netstandard2.0
